body {
    font-family: sans-serif;
}
span {
    color: #D66F62;
}
.text-logo {
    font-size: 20px;
    color: #a3a3a3;
    display: inline;
}
.nav-right {
    float: right;
}
.nav-right a {
    text-decoration: none;
    color:black;
}
.btn-login {
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
    border: none;
    background-color:#D66F62;
    font-weight: bold;
}
.center {
    display: block;
    margin: auto;
}
.main-img {
    width: 30%;
    margin-left: 35%;
}
.tag-line {
    margin-top: -10%;
    margin-bottom: 10%;
}
.tag-line p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}
.tag-line1{
    color: #a3a3a3;
}
.tag-line2{
    font-style: italic;
}

footer{
    background-color:darkgrey;
}

footer ul, footer .flex-row h3{
    list-style-type:none;
    margin-left: 20%
}

.flex-between{
    justify-content: space-between;
}

.flex-grow{
    flex-grow: 3;
}
.flex-row{
    display: flex;
    flex-direction:row;
}
.flex-center{
    justify-content: center;
}
footer .flex-row div{
    flex-grow: 3;
}
.copyright{
    text-align: center;
}
main{
  background-color: aliceblue;
  padding-top: 1px;  
}
.section-oneimg{
    width: 85%;
}
section{
    margin-top: 10px;
}
.section-one{
    padding: 10px 0px 0px 0px;
    font-size: 1.5em;
    font-weight:600;
    text-align: center;
    background: url("https://toppng.com/uploads/preview/ike-airmax-svg-png-icon-free-download-nike-shoe-icon-11562897676lvgam28xjs.png");
    background-repeat: space repeat;
    background-size: 3%;
}
.section-one p{
    color: #D66F62;
    text-shadow: 2px 2px black;
}
.section-one button{
    display: block;
    position: relative;
    font-size: 1em;
    font-weight:600;
    border-radius: 10px;
    margin-top: -30px;
    margin-left:auto;
    margin-right:auto;
    background-color: orange;
}
.section-two div{
    
}
