body {
    font-family: sans-serif;
}
span {
    color: #D66F62;
}
.text-logo {
    font-size: 20px;
    color: #a3a3a3;
    display: inline;
}
.nav-right {
    float: right;
}
.nav-right a {
    text-decoration: none;
    color:black;
    margin-left: 15px;
}
.btn-login {
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px;
    border: none;
    background-color:#D66F62;
    font-weight: bold;
}
.center {
    display: block;
    margin: auto;
}
.main-img {
    width: 40%;
    margin-left: 30%;
}
.tag-line {
    margin-top: -10%;
    margin-bottom: 10%;
}
.tag-line p{
    text-align: center;
    font-weight: 600;
}
.tag-line1{
    color: #a3a3a3;
    font-size: 1.5em;
    margin-bottom: 0;
}
.tag-line2{
    font-size: 0.8em;
    margin-top: 0;
    font-style: italic;
}

footer{
    background-color:#393e46;
    margin-top: 10px;
}

footer ul, footer .flex-row h3{
    list-style-type:none;
    margin-left: 20%
}
footer h3, section h2{
    color: #D66F62;
}
footer ul{
    color: white;
}

.flex-between{
    justify-content: space-between;
}

.flex-grow{
    flex-grow: 3;
}
.flex-row{
    display: flex;
    flex-direction:row;
}
.flex-column{
    display: flex;
    flex-direction:column;
}
.flex-center{
    justify-content: center;
}
footer .flex-row div{
    flex-grow: 3;
}
.copyright{
    text-align: center;
    color: #eeeeee;
}
main{
  background-color: aliceblue;
  padding-top: 1px;
  padding-bottom: 10px
}
.section-oneimg{
    width: 85%;
}
section{
    margin-top: 10px;
}
.section-one{
    padding: 10px 0px 0px 0px;
    font-size: 1.5em;
    font-weight:600;
    text-align: center;
    background: url("https://toppng.com/uploads/preview/ike-airmax-svg-png-icon-free-download-nike-shoe-icon-11562897676lvgam28xjs.png");
    background-repeat: space repeat;
    background-size: 3%;
}
.section-one p{
    color: #D66F62;
    text-shadow: 2px 2px black;
}
.section-one button{
    display: block;
    position: relative;
    font-size: 1em;
    font-weight:600;
    border-radius: 10px;
    margin-top: -30px;
    margin-left:auto;
    margin-right:auto;
    background-color: orange;
}
.section-two{
    background-color: lightgray;
}
.section-twoimg{
    width: 30%;
    max-width: 30%;
    border: 2px solid black;
}
.right{
    float: right;
}
.desc-shoe{
    width:68%;
}
.desc-shoe p{
    text-align: justify;
}
.desc-shoe h2{
    margin: 0
}
.section-box{
    margin-top: 10px;
    margin-left: 15px;
    margin-right:15px;
    margin-bottom: 10px;
}
.scmedia li{
    display: inline;
    margin-right: 5px;
}
.testimoni-box{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 15px;
    width: 80%;
    margin: auto;
    background-color: black;
    border-radius: 20px;
}
.desc-testi{
    padding-top: 0px;
    margin-left: 15px;
}
.desc-testi h2{
    margin-top: 0;
    color: white;
}
.desc-testi p{
    text-align:justify;
    color: white;
    font-size: 1.2em;
}
.testi-img{
    width: 100%;
    border: 3px double silver;
}
.box-testimg{
    margin-top:auto;
    margin-bottom:auto;
}
.drop .flex-column a{
    display:none;
}
.drop:hover .flex-column a{
    display: flex;
}
.drop:hover .flex-column a:hover{
    background-color: black;
    color: white;
}
header,main,footer{
    z-index: 0;
}

#modal-box1{
    display: none;
    position:fixed;
    z-index: 2;
    left: 20%;
    top: 15%;
    width: 60%;
    height: 70%;
    background-color: lightgray;
    opacity: 80%;
    border-radius:15px;
    padding-left: 20px;
    padding-right: 20px;
}
.details-box{
    align-items: center;
    text-align: center;
}
.details-box>p{
    align-items: center;
    text-align: justify;
}
.close-box1{
 float: right;
 position: absolute;
 right: 10px;
 font-size: 40px;   
}
.bayarB{
    padding: 5px 40px;
    font-size: 20px;
    font-weight:700;
    border-radius: 5px;
    color: white;
    background-color: orange;
}
#inputB{
    width: 100px;
    margin-bottom: 20px;
    text-align: center;
}